<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Repositórios GitHub</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
</head>
<body>
  <header>
     
  </header>  

   <main>
    <div class="jumbotron"> 
    <div class="container">
     
      <div class="row justify-content-center align-items-center">
        <div  class="col-md-6 configdiv" style="text-align:center">
          <h1>:: REPOSITÓRIOS GIT ::</h1>
            <a href="/search/1" class="btn btn-outline-primary"> RUBY </a>
            <a href="/search/2" class="btn btn-outline-primary"> PYTHON </a>
            <a href="/search/3" class="btn btn-outline-primary"> PHP </a>
            <a href="/search/4" class="btn btn-outline-primary"> NODE </a>
            <a href="/search/5" class="btn btn-outline-primary"> ASSEMBLY </a>
            <a href="/" class="btn btn-primary"> INÍCIO </a>
           
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10">
        <%- body %>
      </div>
    </div>
  </div>
   </main>
   
</body>
</html>  